@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Ms+Madi&family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;800&family=Roboto&family=Roboto+Slab&display=swap');

.bg-pic{
    background-image: url("https://wallpaperaccess.com/full/4220416.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 50px;
}
.img-border{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 150px;
  
}
.personal-img img{
    width: 300px;
    border-radius: 150px;
    
    animation: zoom 2s ease-in-out 1s infinite alternate;
    animation-play-state: running;
}
.about-title{
    margin-bottom: 0px;
    font-size: 18px;
    color: white;
}
.choose-title{
    margin-top: 0px;
    font-size: 40px;
    color: white;
}
.started-btn{
    text-decoration: none;
    color: white;
    border: 1px solid #FF1A5C;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #FF1A5C;
}
.started-btn:hover{
    background-color: #d9013e;
}
@keyframes zoom {
    0%{
        width: 340px;
        
    }
    100%{
        width: 310px;
       
    }
    
}
@media screen and (max-width: 576px){
    .main-about{
        display: flex;
        flex-direction: column;
    }
    .personal-img img{
        margin-bottom: 40px;
    }
}