@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Ms+Madi&family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;800&family=Roboto&family=Roboto+Slab&display=swap');

.main-page{
    background-image: url("https://media.slidesgo.com/storage/1673763/10-smoothies-menu.png");
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    
}
.home-pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.developer-picture img{
    width: 500px;
}
.name-title{
    font-size: 25px;
    margin-bottom: 0px;
}
.font-style{
    color: white;
}
.button{
    width: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid #FF1A5C;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #FF1A5C;
}
.icon{
    width: 18px;
    padding-left: 15px;
    position: relative;
    /* animation: sliding 1s ease-in-out 0.5s infinite alternate; */
    animation-play-state: running;
}

@keyframes sliding {
    from{
        left: 0;
    }
    to{
        left: 15px;
    }
}
