@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Ms+Madi&family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;800&family=Roboto&family=Roboto+Slab&display=swap');

.main-div{
    background-image: linear-gradient(#D7FFFC, #f9d1e2);
    padding-top: 100px;
    padding-bottom: 100px;
}
.full-section{
width: 85%;
margin: auto;
padding-top: 10px;
padding-bottom: 30px;
background-color: #FCF0F5;
border-radius: 7px;
}
.contact-section {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    /* padding-bottom: 30px; */
    /* padding-top: 30px; */
}

.picture img {
    width: 470px;
}

.top-title {
    margin-left: 85px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #FF438C;
}

.title-text {
    margin-left: 85px;
    margin-top: 0px;
    font-size: 40px;
    color: #050748;
}

.signup-form {
    border: 1px solid #FCF0F5;
    width: 600px;
    height: 450px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-control {
    text-align: center;
    margin-top: 30px;
}

.form-control label {
    margin-right: 323px;
    font-size: 16px;
}

.input-field {
    width: 400px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
    outline: none;
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: #FCF0F5;
}

#text-label {
    padding-right: 5px;
}

.login-btn {
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 15px 148px;
    background-image: linear-gradient(to right, #f92f7f, #FF195A);
    font-size: 17px;
    cursor: pointer;
}